@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FB4570;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title-text {
    color: white;
}

.buttons {
    /*display: flex; */
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#no-button {
    margin: 0 10px;
    color: white;
    background-color: #e3a0d3;
    height: 40px !important;
    width: auto;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    p {
        margin: 0;
        object-fit: contain;
    }
}

#yes-button {
    margin: 0 10px;
    color: white;
    border: none;
    background-color: #ca7cd5;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    p {
        margin: 0;
        object-fit: contain;
    }
}

/* Make responsive for mobile */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
    }
}

/* Path: /js/script.js */